<!DOCTYPE html>
<html>
<head>
  <title>AML Transaction Monitoring - Dashboard</title>
  <link rel="stylesheet" href="static/dashboard.css">
</head>
<body>
  <div class="container">
    <h1>AML Transaction Monitoring</h1>
    <h2>Dashboard</h2>
    <div class="alert-container">
      <h3>Recent Alerts</h3>
      {% if alerts %}
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>From Bank</th>
              <th>From Account</th>
              <th>To Bank</th>
              <th>To Account</th>
              <th>Amount Received</th>
              <th>Receiving Currency</th>
              <th>Amount Paid</th>
              <th>Payment Currency</th>
              <th>Payment Format</th>
              <th>Risk Score</th>
            </tr>
          </thead>
          <tbody>
            {% for alert in alerts %}
              <tr>
                <td>{{ alert['Timestamp'] }}</td>
                <td>{{ alert['grid_3x3From Bank'] }}</td>
                <td>{{ alert['text_formatAccount'] }}</td>
                <td>{{ alert['grid_3x3To Bank'] }}</td>
                <td>{{ alert['text_formatAccount.1'] }}</td>
                <td>{{ alert['grid_3x3Amount Received'] }}</td>
                <td>{{ alert['text_formatReceiving Currency'] }}</td>
                <td>{{ alert['grid_3x3Amount Paid'] }}</td>
                <td>{{ alert['text_formatPayment Currency'] }}</td>
                <td>{{ alert['text_formatPayment Format'] }}</td>
                <td>{{ alert['risk_score'] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
        <p>No recent alerts.</p>
      {% endif %}
    </div>
    <a href="{{ url_for('logout') }}" class="btn">Logout</a>
  </div>
</body>
</html>
